.small__section {
    width: 100%;
    padding: 50px 0;
    background-color: #ffffff;
    text-align: center;
}

.small__head {
    font-family: 'Cormorant Garamond', serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 69.6px;
    color: #141414;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 90%; 
    max-width: 700px; 
}

.small__wrapp__btn {
    width: 190px;
    height: 53px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 6px;
    background-color: #22C96A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.small__wrapp__btn:hover {
    background-color: #1f9e5a; 
}

@media only screen and (max-width: 768px) {
    .small__head {
        font-size: 40px;
        line-height: 48px;
        width: 90%;
    }

    .small__wrapp__btn {
        width: 150px;
        height: 45px;
        font-size: 12px;
        padding: 12px 24px;
    }
}

@media only screen and (max-width: 368px) {
    .small__section{
        margin-top: 750px;
    }


    .small__head {
        font-size: 32px;
        line-height: 38px;
        width: 90%;
    }

    .small__wrapp__btn {
        width: 120px;
        height: 40px;
        font-size: 10px;
        padding: 10px 20px;
    }
}
